html{
    background-color:#191919;
    min-height: 100%;
    max-height: 100%;
}
body{
    padding: 0;
    margin: 0;
}
header{
    display:block;
    background-color: #000000e1;
    color: #C74F58;
    text-align: center;
    font-family:'Yanone Kaffeesatz',Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 500;
    font-size: 24px;
    border: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
nav{
    display:flex; 
    align-items: center; 
    color: rgba(255, 255, 255, 0.898);
    background-color: #C74F58;
    font-size: 12.5pt;
    font-family:'Inter',Verdana, Geneva, Tahoma, sans-serif ;
    padding: 0px;
    margin: 0px auto;
    justify-content: space-evenly;
}
h3{
    display: block;
    font-family:'Inter',Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 600;
}
.Content_table{
    display: block;
    color: #D4C1B0;
    text-justify:inter-word;
    text-align: justify;
    font-size: 12.5pt;
    left: 50pt;
    position: relative;
    max-width: fit-content;
    font-family:'Outfit',Verdana, Geneva, Tahoma, sans-serif ;

}
footer{
    background-color: #C74F58;
    text-align:left;
    text-shadow:#1b1919;
    color: #fff;
    font-size: 14pt;
    font-family:'Abel', Georgia, 'Times New Roman', Times, serif, sans-serif;
    width: 100%;
    position:absolute;
    bottom: 0px;
    overflow: hidden;
}
a{
    color: #ffffff;
}
.A_redirect{
    color: #D4C1B0;
}
.A_title{
    font-family:'Outfit',Verdana, Geneva, Tahoma, sans-serif ;
    color: #D4C1B0;
    position: relative;
}
.A_intro{
    font-family:'Inter',Verdana, Geneva, Tahoma, sans-serif ;
    color: #D4C1B0;
    position: relative;
}

